.page__contact {
  position: relative;
  padding: 70px 0 70px 0;
  overflow: hidden;
  background-image: 
    linear-gradient( 
      rgba(mix(#3b434c, #000000, 100%),0.9) 0%,
      rgba(mix(#3b434c, #000000, 60%),0.9) 100%
    ),
    url('/img/contact_bg_768.jpg');
  background-size: cover;
  background-position: center center;
  color: #ffffff;
}

.contact {
  &__content {
    padding: 0;
  }
  &__header {
    color: #fff;
  }
  &__subheader {
    text-align: center;
    line-height: 1.875em;
    width: 60%;
    margin: -12px auto 90px auto;
  }
  &__form {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
  }
  &__row {
    margin-bottom: 30px;
    &.contact__row--top {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &.contact__row--bottom {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__item {
    position: relative;
    width: 100%;
    &.contact__item--message {
      width: 100%;
    }
  }
  &__label {
    font-size: 0.8em;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: transform 0.3s, opacity 0.3s;
  }
  &__input {
    width: 100%;
    &:focus {
      &+label {
        transform: translateY(-120%);
        opacity: 1;
      }
    }
    &.contact__input--email {
      margin-bottom: 30px;
    }
    &.contact__input--message {
      resize: vertical;
    }
  }
  &__social {
    display: flex;
    margin: 0;
  }
  &__social-item {
    width: 43px;
    height: 43px;
    line-height: 43px;
    text-align: center;
    color: #fff;
    transition: transform 0.2s;
    transform: scale(1);
    &:not(:first-of-type) {
      margin: 0 0 0 20px;
    }
    a {
      display: block;
      width: 100%;
      height: 100%;
    }
    &:hover {
      transform: scale(0.9);
    }
  }
  &__social-icon {
    width: 100%;
    height: 100%;
  }
  &__submit {
    margin-bottom: 40px;
  }
}


@media screen and (min-width: 768px) {
  .page__contact {
    padding: 70px 0 100px 0;
    background-image: 
    linear-gradient( 
      rgba(mix(#3b434c, #000000, 100%),0.9) 0%,
      rgba(mix(#3b434c, #000000, 60%),0.9) 100%
    ),
    url('/img/contact_bg_960.jpg');
  }

  .contact {
    &__form {
      padding: 0px;
    }
    &__row {
      &.contact__row--top {
        flex-direction: row;
      }
      &.contact__row--bottom {
        flex-direction: row;
      }
    }
    &__item {
      width: calc(50% - 15px);
    }
    &__input {
      &.contact__input--email {
        margin-bottom: 0;
      }
    }
    &__submit {
      margin-bottom: 0px;
    }
  }
}

@media screen and (min-width: 960px) {
  .page__contact {
    background-image: 
    linear-gradient( 
      rgba(mix(#3b434c, #000000, 100%),0.9) 0%,
      rgba(mix(#3b434c, #000000, 60%),0.9) 100%
    ),
    url('/img/contact_bg_1200.jpg');
  }
}

@media screen and (min-width: 1200px) {
  .page__contact {
    background-image: 
    linear-gradient( 
      rgba(mix(#3b434c, #000000, 100%),0.9) 0%,
      rgba(mix(#3b434c, #000000, 60%),0.9) 100%
    ),
    url('/img/contact_bg_1920.jpg');
  }
  
  .contact {
    &__content {
      padding: 0 155px;
    }
  }
}
