.page__contact {
  position: relative;
  padding: 70px 0 70px 0;
  overflow: hidden;
  background-image: 
    linear-gradient( 
      rgba(mix(#3b434c, #000000, 100%),0.9) 0%,
      rgba(mix(#3b434c, #000000, 60%),0.9) 100%
    ),
    url('/img/header_bg_full.jpg');
  background-size: cover;
  color: #ffffff;
}

.contact {
  &__header {
    color: #fff;
  }
  &__subheader {
    text-align: center;
    line-height: 1.875em;
    width: 60%;
    margin: -12px auto 90px auto;
  }
  &__form {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
  }
  &__row {
    margin-bottom: 40px;
    &.contact__row--top {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &.contact__row--bottom {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__input {
    &.contact__input--email {
      width: 100%;
      margin-bottom: 40px;
    }
    &.contact__input--subject {
      width: 100%;
    }
    &.contact__input--message {
      width: 100%;
      resize: vertical;
    }
  }
  &__social {
    display: flex;
    margin: 0;
  }
  &__social-item {
    width: 43px;
    height: 43px;
    line-height: 43px;
    text-align: center;
    color: #fff;
    transition: transform 0.2s;
    transform: scale(1);
    &:not(:first-of-type) {
      margin: 0 0 0 20px;
    }
    a {
      display: block;
      width: 100%;
      height: 100%;
    }
    &:hover {
      transform: scale(0.9);
    }
  }
  &__social-icon {
    width: 100%;
    height: 100%;
  }
  &__submit {
    margin-bottom: 40px;
  }
}


@media screen and (min-width: 768px) {
  .page__contact {
    padding: 70px 0 100px 0;
  }

  .contact {
    &__form {
      padding: 0px;
    }
    &__row {
      &.contact__row--top {
        flex-direction: row;
      }
      &.contact__row--bottom {
        flex-direction: row;
      }
    }
    &__input {
      &.contact__input--email {
        width: calc(50% - 20px);
        margin-bottom: 0;
      }
      &.contact__input--subject {
        width: calc(50% - 20px);
      }
    }
    &__submit {
      margin-bottom: 0px;
    }
  }
}
