.page__menu {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 1px;
  height: 100vh;
  width: 100%;
  color: $white;
  background-color: rgba($color2, 0.9);
  z-index: 100;

  &--showing {
    animation: showing-menu 0.5s ease forwards;
    display: block;

    .menu__item {
      opacity: 0;
      &:nth-of-type(1) {
        animation: show-menu-item 0.3s ease forwards;
        animation-delay: 0ms;
      }
      &:nth-of-type(2) {
        animation: show-menu-item 0.3s ease forwards;
        animation-delay: 50ms;
      }
      &:nth-of-type(3) {
        animation: show-menu-item 0.3s ease forwards;
        animation-delay: 100ms;
      }
      &:nth-of-type(4) {
        animation: show-menu-item 0.3s ease forwards;
        animation-delay: 150ms;
      }
      &:nth-of-type(5) {
        animation: show-menu-item 0.3s ease forwards;
        animation-delay: 200ms;
      }
      &:nth-of-type(6) {
        animation: show-menu-item 0.3s ease forwards;
        animation-delay: 250ms;
      }
      &:nth-of-type(7) {
        animation: show-menu-item 0.3s ease forwards;
        animation-delay: 300ms;
      }
      &:nth-of-type(8) {
        animation: show-menu-item 0.3s ease forwards;
        animation-delay: 350ms;
      }
    }

    .menu__social-item {
      opacity: 0;
      &:nth-last-of-type(1) {
        animation: show-menu-socialitem 0.3s ease forwards;
        animation-delay: 0ms;
      }
      &:nth-last-of-type(2) {
        animation: show-menu-socialitem 0.3s ease forwards;
        animation-delay: 50ms;
      }
      &:nth-last-of-type(3) {
        animation: show-menu-socialitem 0.3s ease forwards;
        animation-delay: 100ms;
      }
      &:nth-last-of-type(4) {
        animation: show-menu-socialitem 0.3s ease forwards;
        animation-delay: 150ms;
      }
      &:nth-last-of-type(5) {
        animation: show-menu-socialitem 0.3s ease forwards;
        animation-delay: 200ms;
      }
      &:nth-last-of-type(6) {
        animation: show-menu-socialitem 0.3s ease forwards;
        animation-delay: 250ms;
      }
      &:nth-last-of-type(7) {
        animation: show-menu-socialitem 0.3s ease forwards;
        animation-delay: 300ms;
      }
      &:nth-last-of-type(8) {
        animation: show-menu-socialitem 0.3s ease forwards;
        animation-delay: 350ms;
      }
    }
  }
  &--show {
    display: block;
  }
  &--hiding {
    animation: hiding-menu 0.5s ease-in forwards;
    display: block;

    .menu__item {
      opacity: 1;
      &:nth-of-type(1) {
        animation: hide-menu-item 0.3s ease-in forwards;
        animation-delay: 0ms;
      }
      &:nth-of-type(2) {
        animation: hide-menu-item 0.3s ease-in forwards;
        animation-delay: 50ms;
      }
      &:nth-of-type(3) {
        animation: hide-menu-item 0.3s ease-in forwards;
        animation-delay: 100ms;
      }
      &:nth-of-type(4) {
        animation: hide-menu-item 0.3s ease-in forwards;
        animation-delay: 150ms;
      }
      &:nth-of-type(5) {
        animation: hide-menu-item 0.3s ease-in forwards;
        animation-delay: 200ms;
      }
      &:nth-of-type(6) {
        animation: hide-menu-item 0.3s ease-in forwards;
        animation-delay: 250ms;
      }
      &:nth-of-type(7) {
        animation: hide-menu-item 0.3s ease-in forwards;
        animation-delay: 300ms;
      }
      &:nth-of-type(8) {
        animation: hide-menu-item 0.3s ease-in forwards;
        animation-delay: 350ms;
      }
    }

    .menu__social-item {
      opacity: 1;
      &:nth-last-of-type(1) {
        animation: hide-menu-socialitem 0.3s ease-in forwards;
        animation-delay: 0ms;
      }
      &:nth-last-of-type(2) {
        animation: hide-menu-socialitem 0.3s ease-in forwards;
        animation-delay: 50ms;
      }
      &:nth-last-of-type(3) {
        animation: hide-menu-socialitem 0.3s ease-in forwards;
        animation-delay: 100ms;
      }
      &:nth-last-of-type(4) {
        animation: hide-menu-socialitem 0.3s ease-in forwards;
        animation-delay: 150ms;
      }
      &:nth-last-of-type(5) {
        animation: hide-menu-socialitem 0.3s ease-in forwards;
        animation-delay: 200ms;
      }
      &:nth-last-of-type(6) {
        animation: hide-menu-socialitem 0.3s ease-in forwards;
        animation-delay: 250ms;
      }
      &:nth-last-of-type(7) {
        animation: hide-menu-socialitem 0.3s ease-in forwards;
        animation-delay: 300ms;
      }
      &:nth-last-of-type(8) {
        animation: hide-menu-socialitem 0.3s ease-in forwards;
        animation-delay: 350ms;
      }
    }
  }
  &--hide {
    display: none;
  }
}

.menu {
  &__wrapper {
    margin-top: 50vh;
    transform: translateY(-50%);

  }
  &__list {
    margin: 0px 0;
  }
  &__item {
    text-align: center;
    height: 3em;
  }
  &__link {
    color: $white;
    font-size: 1.8em;
    font-weight: 600;
    text-transform: uppercase;
  }
  &__social-list {
    display: none;
    justify-content: center;
    margin: 0;
  }
  &__social-item {
    margin: 0 10px;
    transition: transform 0.2s;
    transform: scale(1);
    &:hover {
      transform: scale(0.9);
    }
  }
  &__social-icon {
    height: 42px;
    width: 42px;
  }

  &__separator {
    display: none;
    padding: 1px 0px;
    position: relative;
    margin: 15px 0 25px 0;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      width: 120px;
      height: 2px;
      background-color: $color1;
      transform: translateX(-50%);
    }
  }

  &__close {
    position: absolute;
    top: 50px;
    right: 20px;
    color: #fff;
    z-index: 10;
    &:hover {
      .menu__close-icon {
        stroke: $color1;
        transform: rotate(90deg);
      }
    }
  }
  &__close-icon {
    width: 22px;
    height: 22px;
    margin-top: -1px;
    margin-right: 2px;
    stroke: $white;
    fill: none;
    stroke-width: 1.8;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    transition: stroke 0.2s, transform 0.2s;
    pointer-events: none;
  }
}


@media screen and (min-width: 768px) and (min-height: 480px){
  .menu {
    &__item {
      height: 4.4em;
    }
    &__link {
      font-size: 2.1em;
    }
    &__separator {
      margin: 20px 0 55px 0;
    }
  }
}

@media screen and (min-height: 340px) {
  .menu {
    &__social-list {
      display: flex;
    }
    &__separator {
      display: block;
    }
  }
}

@media screen and (min-width: 940px) {
  .menu {
    &__close {
      right: 0px;
    }
  }
}