.page__modal {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 1px;
  height: 100vh;
  width: 100%;
  color: $white;
  background-color: rgba($color2, 0.8);
  z-index: 100;

  &--showing {
    animation: showing-menu 0.5s ease forwards;
    display: block;
  }
  &--show {
    display: block;
  }
  &--hiding {
    animation: hiding-menu 0.5s ease-in forwards;
    display: block;
  }
  &--hide {
    display: none;
  }
}

.modal {
  &__is-displayed {
    overflow: hidden;
  }
  &__wrapper {
    position: relative;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50vh;
    transform: translateY(-50%);
    pointer-events: auto;
  }
  &__window {
    background-color: $white;
    padding: 20px 20px 10px 20px;
  }
  &__subheader {
    color: $color2;
    text-align: center;
    line-height: 1.4em;
    width: 90%;
    margin: -12px auto 25px auto;
  }
  &__close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    background-color: $color2;
    border-radius: 50%;
    z-index: 10;
    width: 38px;
    height: 38px;
    line-height: 38px;
    transition: background-color 0.2s;
    &:hover {
      background-color: darken($color2, 10%);
    }
  }
  &__close-icon {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    font-size: 1em;
  }
  &__form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
    > * {
      margin-bottom: 10px;
    }
  }
  &__item {
    position: relative;
    width: 100%;
  }
  &__label {
    position: relative;
    color: $white;
    background-color: $color2;
    padding: 3px 5px;
    border-radius: 5px;
    font-size: 0.8em;
    text-transform: uppercase;
    position: absolute;
    top: -10px;
    left: 0;
    opacity: 0;
    transition: transform 0.3s, opacity 0.3s;
    &::after {
      content: '';
      position: absolute;
      width: 8px;
      height: 8px;
      background-color: $color2;
      left: 0;
      right: 0;
      bottom: -4px;
      margin: 0 auto;
      z-index: -1;
      transform: rotate(45deg);

    }
  }
  &__input {
    border: 1px solid #c4c6c9;
    width: 100%;
    &:focus {
      box-shadow: none;
      &+label {
        transform: translateY(-80%);
        opacity: 1;
      }
    }
    &[type="email"],
    &[type="text"] {
      border: 1px solid #c4c6c9;
      &:focus {
        box-shadow: none;
      }
    }
    &--message {
      width: 100%;
      resize: vertical;
      height: 100px;
    }
  }
  &__submit {
    width: 100%;
  }
}

@media screen and (min-width: 600px) {
  .modal {
    &__window {
      padding: 25px 50px 30px 50px;
    }
    &__subheader {
      line-height: 1.875em;
      width: 85%;
      margin: -12px auto 40px auto;
    }
    &__form {
      > * {
        margin-bottom: 30px;
      }
    }
    &__label {
      color: $color2;
      background-color: transparent;
      padding: 0;
      &::after {
        display: none;
      }
    }
    &__input {
      &--message {
        height: unset;
      }
      &:focus {
        &+label {
          transform: translateY(-50%);
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .modal {
    &__wrapper {
      width: 80%;
    }
    &__close {
      top: 0px;
      right: 0px;
      transform: translate(50%, -50%);
    }
  }
}