.page__newsletter {
  padding: 100px 0;
  overflow: hidden;
  background-color: #3b434c;
  background-image: 
    linear-gradient( 
      rgba(mix(#3b434c, #000000, 100%),0.9) 0%,
      rgba(mix(#3b434c, #000000, 60%),0.9) 100%
    ),
    url('/img/header_bg_full.jpg');
  background-size: cover;
  color: #ffffff;
}

.newsletter {
  &__form {
    display: flex;
    padding: 0 140px;
  }
  &__email {
    flex-grow: 1;
    margin-right: 30px;
    &:invalid {
      border: 1px solid red;
      background-color: mix(#ff0000, #ffffff, 20%);
    }
  }
}