.page__newsletter {
  padding: 100px 0;
  overflow: hidden;
  background-color: #3b434c;
  background-image: 
    linear-gradient( 
      rgba(mix(#3b434c, #000000, 100%),0.9) 0%,
      rgba(mix(#3b434c, #000000, 60%),0.9) 100%
    ),
    url('/img/newsletter_bg_960.jpg');
  background-size: cover;
  background-position: center center;
  color: #ffffff;
}

.newsletter {
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
  }
  &__item {
    flex-grow: 1;
    align-self: stretch;
    margin-right: 0px;
    margin-bottom: 30px;
    position: relative;
  }
  &__label {
    font-size: 0.8em;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: transform 0.3s, opacity 0.3s;
  }
  &__email {
    width: 100%;
    &:focus {
      &+label {
        transform: translateY(-120%);
        opacity: 1;
      }
    }
  }
}


@media screen and (min-width: 768px) {
  .newsletter {
    &__form {
      flex-direction: row;
      padding: 0 80px;
    }
    &__item {
      margin-right: 30px;
      margin-bottom: 0px;
    }
  }
}

@media screen and (min-width: 920px) {
  .newsletter {
    &__form {
      padding: 0 140px;
    }
  }
}

@media screen and (min-width: 960px) {
  .page__newsletter {
    background-image: 
    linear-gradient( 
      rgba(mix(#3b434c, #000000, 100%),0.9) 0%,
      rgba(mix(#3b434c, #000000, 60%),0.9) 100%
    ),
    url('/img/newsletter_bg_1200.jpg');
  }
}

@media screen and (min-width: 1200px) {
  .page__newsletter {
    background-image: 
    linear-gradient( 
      rgba(mix(#3b434c, #000000, 100%),0.9) 0%,
      rgba(mix(#3b434c, #000000, 60%),0.9) 100%
    ),
    url('/img/newsletter_bg_1920.jpg');
  }
}