.page__team {
  padding: 70px 0 90px 0;
}

.team {
  &__subheader {
    color: $color2;
    text-align: center;
    line-height: 1.875em;
    width: 60%;
    margin: -12px auto 50px auto;
  }
  &__wrapper {
    position: relative;
    overflow: hidden;
    height: 550px;
    margin: 50px 0 50px 0;
  }
  &__slider {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: nowrap;
    flex-shrink: 0;
    flex-grow: 1;
    width: 100%;
    margin: 0;
    height: 100%;
    transition: transform 0.3s;
    transform: translateX(0%);
  }
  &__slide {
    height: 100%;
    min-width: 100%;
    width: 100%;
    padding-top: 80px;
  }
  &__group {
    display: flex;
    justify-content: space-between;
  }
  &__person {
    position: relative;
    width: calc(25% - 30px);
    text-align: center;
    &:hover {
      .team__photo {
        transform: scale(1.1);
        filter: grayscale(0%);
      }
      .team__photo-line {
        transform: scaleX(1.1);
      }
      .team__header {
        opacity: 1;
      }
      .team__info {
        opacity: 1;
      }
      .team__social-item {
        opacity: 1;
      }
      .team__social-icon {
        filter: grayscale(0%);
      }
    }
  }
  &__photo {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s, filter 0.3s;
    transform: scale(1);
    transform-origin: center bottom;
    filter: grayscale(100%);
  }
  &__photo-line {
    position: absolute;
    display: block;
    height: 5px;
    width: 100%;
    border-radius: 3px;
    background-color: $color1;
    margin: 0 auto;
    top: 215px;
    left: 0px;
    z-index: 10;
    transition: transform 0.2s;
    transform: scaleX(0);
    transform-origin: center bottom;
  }
  &__header {
    margin: 29px 0;
    font-size: 1.4em;
    font-weight: 600;
    text-transform: uppercase;
    opacity: 0.5;
    transition: opacity 0.3s;
  }
  &__social {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;

  }
  &__social-item {
    margin: 0 7px;
    font-size: 1em;
    opacity: 0.5;
    transition: opacity 0.3s;
  }
  &__social-icon {
    height: 1.5em;
    transition: transform 0.15s, filter 0.3s;
    filter: grayscale(100%);
    &:hover {
      transform: scale(1.2);
    }
  }
  &__info {
    margin: 0 7px;
    font-size: 0.875em;
    line-height: 1.857;
    opacity: 0.5;
    transition: opacity 0.3s;
  }
  &__radio {
    display: none;
    &:checked {
      + .team__dot {
        background-color: $color1;
        opacity: 1;
        transform: scale(1.1);
      }
    }
  }
  &__dot {
    display: block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: $color2;
    opacity: 0.5;
    transform: scale(1);
    transition: opacity 0.3s, color 0.1s, transform 0.15s;
    &:hover {
      opacity: 0.7;
    }
  }
  &__pagination {
    display: flex;
    justify-content: center;
  }
}