.page__testimonials {
  position: relative;
  padding: 1px;
  overflow: hidden;
  background-image: 
    linear-gradient( 
      rgba(mix(#3b434c, #000000, 100%),0.9) 0%,
      rgba(mix(#3b434c, #000000, 60%),0.9) 100%
    ),
    url('/img/header_bg_full.jpg');
  background-size: cover;
  color: #ffffff;
}

.testimonials {
  &__navigation {
    color: rgba(#fff, 0.3);
    font-size: 2.5em;
    position: absolute;
    top: 50%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    line-height: 100px;
    text-align: center;
    transform: translateY(-50%);
    cursor: pointer;
    pointer-events: all;
    z-index: 1;
    &:hover {
      color: #fff;
    }
  }
  &__prev {
    left: -50px;
  }
  &__next {
    right: -50px;
  }
  &__wrapper {
    position: relative;
    overflow: hidden;
    height: 300px;
    margin: 100px 0;
    pointer-events: none;
  }
  &__list {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: nowrap;
    flex-shrink: 0;
    flex-grow: 1;
    width: 100%;
    margin: 0;
    height: 300px;
    transition: transform 0.3s;
    transform: translateX(0%);
  }
  &__item {
    height: 100%;
    min-width: 100%;
    width: 100%;
  }
  &__figure {
    margin: 0 50px;
    text-align: center;
    height: 100%;
  }
  &__photo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 35px;
  }
  &__quote {
    font-size: 1.5625em;
    font-style: italic;
    line-height: 1.6;
    margin-bottom: 35px;
    pointer-events: all;
  }
  &__author {
    display: inline-block;
    font-size: 1.125em;
    font-weight: 600;
    font-style: normal;
    pointer-events: all;
  }
}