.page__works {
  padding: 70px 0 0 0;
  overflow: hidden;
}

.works {
  &__subheader {
    color: $color2;
    text-align: center;
    line-height: 1.875em;
    width: 60%;
    margin: -12px auto 100px auto;
  }
  &__gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    margin: 0;
  }
  &__item {
    position: relative;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 280px;
    max-height: 280px;
    margin-bottom: 0px;
    border-radius: 0px;
    overflow: hidden;
    padding: 0;
    transition: max-height 0.5s, opacity 0.5s, margin 0.5s;
    opacity: 1;
    &:hover {
      > .works__content {
        opacity: 1;
      }
      .works__title {
        opacity: 1;
        transform: translateY(0px);
      }
      .works__description {
        opacity: 1;
        transform: translateY(0px);
        transition-delay: 0.15s;
      }
      .works__button {
        opacity: 1;
        transform: translateY(0px);
        transition-delay: 0.3s, 0.3s, 0s, 0s;
      }
      .works__bgimg {
        transform: scale(1.3);
        transition: transform 0.5s;
      }
    }
    &.works__item--hide {
      opacity: 0;
      // max-height must be more than 0px to prevent removing element from DOM tree on mobiles
      // to reach title value by using javascript
      max-height: 0.1px;
      margin-bottom: 0;
    }
  }
  &__bgimg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    transition: transform 0.2s;
    transform-origin: center center;
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    color: #fff;
    background-color: rgba($color1, 0.8);
    height: 100%;
    width: 100%;
    padding: 30px;
    text-align: center;
    transition: opacity 0.15s;
  }
  &__title {
    font-weight: 600;
    font-size: 1.3em;
    margin: 0.2em 0;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s, transform 0.3s;
    transition-delay: 0s;
  }
  &__description {
    font-size: 0.875em;
    line-height: 1.85;
    margin-bottom: 20px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s, transform 0.3s;
    transition-delay: 0s;
  }
  &__button {
    max-width: 100%;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s, transform 0.3s, background-color 0.2s, color 0.2s;
    transition-delay: 0s;
  }
  &__more {
    display: flex;
    justify-content: center;
    margin: 70px 0 70px 0;
    opacity: 1;
    transition: max-height 0.5s, margin 0.5s;
    overflow: hidden;
    &.works__more--hiding {
      margin: 0;
      height: 0px;
      max-height: 0px;
      opacity: 0;
    }
    &.works__more--hide {
      display: none;
    }
  }
  &__show-more {
    opacity: 1;
    transition: max-height 0.5s, height 0.5s, opacity 0.5s;
    &.works__show-more--hiding {
      height: 0px;
      max-height: 0px;
      opacity: 0;
    }
    &.works__show-more--hide {
      display: none;
    }
  }
}


@media screen and (min-width: 768px) {
  .works {
    &__gallery {
      margin: 0 30px;
    }
    &__item {
      width: calc(50% - 15px);
      border-radius: 10px;
      margin-bottom: 30px;
    }
    &__title {
      font-size: 1.5em;
      margin: 0.4em 0;
    }
    &__more {
      margin: 40px 0 70px 0;
    }
  }
}

@media screen and (min-width: 920px) {
  .works {
    &__gallery {
      margin: 0;
    }
    &__item {
      width: calc(33% - 20px);      
    }
    &__title {
      font-size: 1.4em;
    }
    &__description {
      margin-bottom: 40px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .works {
    &__item {
      height: 350px;
      max-height: 350px;
    }
    &__title {
      font-size: 1.5em;
    }
  }
}
