.btn {
  display: inline-block;
  width: 210px;
  height: 50px;
  max-height: 50px;
  // padding: 17px 75px;
  margin: 0;
  color: #fff;
  background-color: $color1;
  border-radius: 10px;
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  line-height: 50px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
  &:hover {
    background-color: $color1h;
    color: #fff;
  }

  &__ghost {
    background-color: transparent;
    border: 1px solid rgba(255,255,255,0.2);
    &:hover {
      background-color: transparent;
      border: 1px solid rgba(255,255,255,0.5);
    }
  }

  &__ghost--dark {
    color: $color2;
    background-color: transparent;
    border: 1px solid rgba(0,0,0,0.2);
    &:hover {
      color: $color2;
      background-color: transparent;
      border: 1px solid rgba(0,0,0,0.5);
    }
  }

  &--white {
    background-color: #fff;
    color: $color2;
    border: 1px solid rgba(255,255,255,1);
    &:hover {
      // background-color: #fff;
      color: #fff;
      background-color: transparent;
      border: 1px solid rgba(255,255,255,0.5);
    }
  }

  &--resetForm {
    border: 0;
  }

  &--error {
    background-color: $error;
    color: $white;
    animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    &:hover {
      background-color: $error;
      color: $white;
    }
  }
}
