@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,800');

body {
  font-family: 'Open Sans', sans-serif;
}

blockquote {
  margin: 0;
}

a {
  color: $color1;
  text-decoration: none;

  &:hover {
    color: $color1h;
  }
}

h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6 {

  em {
    color: $color1;
    font-style: normal;
  }
}

h1, .h1 {
  font-weight: 800;
  font-size: 4.375em;
  text-transform: uppercase;
  line-height: .5;
}