// Colors
$color1: #f7600e;
// $color1h: lighten($color1, 10%);
$color1h: darken($color1, 5%);
$color2: #3b434c;

$error: #ff0000;
$correct: #00bb00;

$white:  #fff;
$gray:   #aaa;
$black: #111;

// Font weights
$light: 100;
$regular: 400;
$bold: 600;

// Base Font
$font1: 'Open Sans', sans-serif;

$base-font-family: sans-serif;
$base-font-weight: $regular;
$base-font-size: 13px;
$base-line-height: 1.4;

// Fixed Font
$fixed-font-family: monospace;
$fixed-font-size: 85%;
$fixed-line-height: $base-line-height;

// Headings
$header-font-weight: $bold;

// Breakpoints
$breakpoints: (
    "phone":        400px,
    "phone-wide":   480px,
    "phablet":      560px,
    "tablet-small": 640px,
    "tablet":       768px,
    "tablet-wide":  1024px,
    "desktop":      1248px,
    "desktop-wide": 1440px
);